
.listing-card {
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 500px;
    margin: 15px;
}

.listing-content {
    width: 100%;
    height: 303px;
    margin: 10px;
}

.listing-card_2{
    font-weight: bold;
    margin-bottom: 8px;
}

.listing-card_3 {
    font-weight: lighter;
    margin: 4px 0px;
}

.listing-card_4 {
    font-weight: 900;
    margin: 6px 0px;
}

#listing-card-img {
    width: 475px;
    border-radius: 8px;
}