
.listing-card {
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 400px;
    margin: 15px;
}

.listing-content {
    width: 100%;
    height: 100px;
    justify-self: flex-end;
    margin: 0 10px;
  }

.listing-card-content_2{
    font-weight: bold;
    margin-bottom: 8px;
}

.listing-card-content_3 {
    font-weight: lighter;
    margin: 4px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listing-card-content_4 {
    font-weight: 900;
    margin: 6px 0px;
}

.listing-card-bar {
    margin-left: -10px;
    margin-right: 10px;
}

.listing-card-container{
  width: 100%;
  height: 75%;
  padding-bottom: 15px;
}

.listing-card-img {
  object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
