#home-page-container {
    height: 600px;
    position: relative;
    overflow: hidden;
}

#home-page-container img {
    width: 100%;
}

#home-page-overlay {
    height: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

#home-page-cta {
    padding-left: 40px;
    background: none;
    width: 250px;
    overflow-x: auto;
}

#home-page-cta_1 {
    background: none;
    padding: none;
    height: 160px;
    color: lightgray;
    font-size: 100px;
}

#home-page-cta_2 {
    width: 200px;
    height: 38px;
    border-radius: 8px;
    border: none;
}
