/* TODO: Media Query to make img position relative when page width >1000 */

#home-page-container {
    height: 800px;
    position: relative;
    overflow: hidden;
}

#home-page-container-img {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

#home-page-overlay {
    height: 800px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

#home-page-cta {
    margin-left: 40px;
    background: none;
    width: 250px;
    min-width: 250px;
    overflow-x: auto;
    justify-self: baseline;
}

#home-page-cta_1 {
    background: none;
    height: 160px;
    color: #D1BC6F;
    font-size: 100px;
}

#home-page-cta_2 {
    width: 200px;
    height: 38px;
    border-radius: 8px;
    border: none;
}

#home-page-welcome,
h3,
.home-page-welcome {
    color: #D1BC6F
}
