.booking-form-header h2 {
    font-family: Roboto;
    letter-spacing: 0px;
}

.booking-form-header,
.booking-form-listing-details,
.booking-form-booking-details,
.booking-form-bar {
    margin: 4px 40px 0px;
}

.booking-form-header {
    margin-top: 15px;
}

.booking-form-listing,
.booking-form-booking {
    display: flex;
}

.booking-form-listing-details {
    min-width: 220px;
}

.booking-form-listing-img {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(107, 77, 87);
    border-radius: 8pt;
    box-shadow: rgba(19, 7, 12, .12) 0px 4px 16px;
    height: 140px;
    width: 120px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
}

.booking-form-listing-img:hover {
    box-shadow: rgba(19, 7, 12, .20) 0px 6px 16px;
}

#booking-form-listing-img{
    height: 60px;
    border-radius: 6px;
    margin: 16px 16px 0;
}

#confirm-booking-button {
    margin: 4px 40px;
    border-radius: 8pt;
    height: 48px;
    width: 200px;
    color: #e7e7e7;
    background-color: #896A67;
    align-self: center;
    justify-self: right;
}

#confirm-booking-button:hover {
    background-color: #6b4d57;
}