/* Color Scheme:
Vegas Gold: #D1BC6F
Platinum: #E7E7E7
Deep Taupe: #896A67
Eggplant: #6B4D57
Xiketic: #13070C */

* {
    box-sizing: border-box;
    text-decoration: none;
}

html,body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    color: #6b4d57;
}