* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    background-color: #2D2D2D;
    color: dimgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}