#bookings-header {
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: #e7e7e7;
}

#bookings-header h3 {
    color: #6b4d57;
}

#bookings-header_1:hover {
    cursor: default;
}

#bookings-header_2 {
    display: flex;
    align-items: center;
}

#search-button {
    border: none;
    width: 100px;
    padding: 21px 5px;
    border-radius: 8pt;
}

#search-button:focus {
    outline: none;
}

#search-button:hover  {
    background: #D1BC6F;
}

#bookings-bar {
    position: sticky;
    top: 138px;
}

#bookings-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 16px;
}
