.navbar {
    position: sticky;
    top: 0px;
    background-color: #e7e7e7;
    color: #13070c;
    margin: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 100;
}

.navbar-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    cursor: default;
}

#navbar-link-home, 
h2 {
    letter-spacing: -2px;
    font-family: "Poppins";
}

.profile-dropdown {
    position: absolute;
}

.button {
    margin: 2pt 2pt 5pt 5pt;
    border: 1pt #896A67 solid;
    border-radius: 8pt;
    height: 30px;
    width: 70px;
}

#link-logout {
    cursor: default;
}

.input {
    color: #13070c;
    background: #e7e7e7;
    margin: 2pt;
    border: 1pt #896A67 solid;
    border-radius: 8pt;
}

.form {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    border-radius: 8pt;
}

#modal-content {
    border-radius: 8pt;
}

#login,
#signup {
    border-radius: 8pt;
    display: flex;
    justify-content: center;
    min-width: 400px;
    border-radius: 8pt;
}

#link-signup,
#link-login,
#link-demo,
#link-home,
#link-profile,
#link-bookings
 {
    padding-top: 31px;    
    padding-bottom: 30px;    
    padding-left: 14px;    
    padding-right: 14px;    
}
 
#link-login:hover,
#link-logout:hover,
#link-signup:hover,
#link-demo:hover,
#link-home:hover,
#link-profile:hover,
#link-bookings:hover
 {
    background-color: #d1bc6f;
}

.profile-dropdown {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-end;
}

.button:hover {
    background-color: #d1bc6f;
    
}