* {
    box-sizing: border-box;
    color: dimgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

a {
    cursor: default;
}

#navbar-link-home {
    letter-spacing: -2px;
    font-weight: 900;
}

.profile-dropdown {
    position: absolute;
}

.button {
    margin: 2pt 2pt 5pt 5pt;
    border: 1pt lightgray solid;
    border-radius: 8pt;
    height: 30px;
    width: 70px;
}

#link-logout {
    cursor: default;
}

.input {
    color: dimgray;
    background: #E8F0FE;
    margin: 2pt;
    border: 1pt lightgray solid;
    border-radius: 8pt;
}

.form {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

#login {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

#login-form_1 {
    display: flex;
    min-width: 60px;
}

#login-form_2 {
    display: flex;
    min-width: 400px;
}

#login-form_3 {
    display: flex;
    min-width: 60px;
}

.navbar {
    margin: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: lightgray;
}

.navbar-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#link-signup,
#link-login,
#link-demo,
#link-home
 {
    padding-top: 31px;    
    padding-bottom: 30px;    
    padding-left: 14px;    
    padding-right: 14px;    
}
 
#link-login:hover,
#link-logout:hover,
#link-signup:hover,
#link-demo:hover,
#link-home:hover
 {
    background-color: black;
}

.profile-dropdown {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-end;
}

.button:hover {
    background-color: darkgray;
    
}